body {
    background-color:lightgray;



        aside2 {
        width: 50%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color:mediumpurple;
        }

        aside1 {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: lightgray;
        }

       .Ptera
        {
            background-color: aqua;
        }
        .Trike
        {
            background-color: gold;
        }


        .Tyranno
        {
            background-color: crimson;
        }

        .Spino
        {
            background-color: blueviolet;
        }
        .error
        {
            background-color: brown;
        }
    
}